@charset "UTF-8";

/* 링크 스타일 */
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}
.remote ~ a{
    text-decoration: none;
    color: black;
}

/*==================================== 테이블 스타일 ======================================*/
        .table{
            border: 1px solid black;
/*            테두리 합치기*/
            border-collapse: collapse;
            width: 100%;
        }
        .table th, .table td{
            border: 1px solid black;
            padding: 5px;
            text-align: center;/*내부 글자 정렬*/
        }
        .table .left{
            text-align: left;
        }
        .table .right{
            text-align: right;
        }
        .table-noline{
            border: none !important;
        }
        .table-noline th, .table-noline td{
            border: none !important;
        }
        .table-stripe thead tr{
            background-color: lightgray;
        }
        .table-stripe tbody tr{
            background-color: lightgray;
        }

/*======================================== 폼 스타일 ========================================*/

/* 입력창 */
.form-input, .form-btn{
    /* 인라인 입력창 */
    font-size: 25px;
    padding: 10px;
    
    border: 1px solid black;
}

.form-input-full, .form-btn-full{
    width: 100%;
}
/* 버튼 */
.form-btn{
    background-color: lightyellow;
}
button{
    background-color: white;
    border: none;
}

/* 글 작성 공간 리사이징 금지 */
textarea{
    resize: none;
}

/*======================================= 영역 스타일 ===========================================*/
div, nav, header, footer, aside, article, section, main{
     /*테스트용 테두리 추가 */
    border: 1px dotted black;
}

/* 영역을 비율별로 지정할 수 있도록 구성 - 10% 단위로 구성 */
.container-10{ width: 10% }
.container-20{ width: 20% }
.container-30{ width: 30% }
.container-40{ width: 40% }
.container-50{ width: 50% }
.container-60{ width: 60% }
.container-70{ width: 70% }
.container-80{ width: 80% }
.container-90{ width: 90% }
.container-100{ width: 100% }

/* 컨테이너 정렬 : out-align-? */
.out-align-left{}
.out-align-center{  margin: auto;   }
.out-align-right{}

/* 내용물 정렬 : in-align-? */
.in-align-left{     text-align: left;      }
.in-align-center{   text-align: center;    }
.in-align-right{    text-align: right;     }

/* 공백 줄(empty-row)과 내용 줄(row) */
.empty-row{  height: 50px;  }
.row{   
    margin: 10px;
    padding: 20px;
    font-size: 25px;
}

/* 리모컨 */
.remote{
            display: none;
            background-color: lightgray;
            color: black;
            border-radius: 10px 10px;
            position: fixed;
            padding: 10px;
            width: 50px;
            height: 50px;
            right: 30px;
            bottom: 30px;
        }

/*=================================== font 관련 스타일 ==================================*/

@font-face{
        font-family: daum;
        src: url("../font/Daum_SemiBold.ttf");
}
/* 모든 태그에 적용하겠다 */
*{
    font-family: daum;
}

        .font-title{
            font-size: 2.5em;
        }
        
        .font-big{
            font-size: 2em;
        }
        
        .font-medium{
            font-size: 1.5em;
        }
        
        .font-small{
            font-size: 1.25em;
        }
        
        @media screen and (max-width:570px){
        .font-title{
            font-size: 2em;
        }
        
        .font-big{
            font-size: 1.5em;
        }
        
        .font-medium{
            font-size: 1.25em;
        }
        
        .font-small{
            font-size: 1em;
        }
        }

/*=================================== 아이콘 스타일 ======================================*/
        .fa-custom{
/*            지정된 크기로 스타일 부여*/
/*            font-size: 100px;*/
/*            비율로 크기 스타일 부여(기본글꼴의 n배)*/
            font-size: 3.5em;
        }


/*=================================== 메뉴 스타일 =======================================*/
        .menu{
            padding:1em;
            
            display: flex;
        }
        .menu .center{
            margin: auto;
        }
        .menu .left{
            margin-right:2em;
        }
        .menu .right{
            margin-left: auto;
        }
        .menu .rright{
            margin-left:2em;
        }
        
        /*
        햄버그 메뉴 구현하기
         - 폭이 570px 이하가 되면
         - [1] .menu의 flex-direction을 column으로 변경
         - [2] 세로로 배열된 메뉴의 여백을 조정
         - [3] 체크 여부에 따라 메뉴의 display를 결정
         - [4] 체크박스 숨김
        */
        .menu #hamberg{
            display: none;
        }
        .menu #hamberg + label{
            display:none;
            color:black;
        }
        @media screen and (max-width:700px){
            .menu{
                flex-direction: column;
            }
/*            .menu > a{*/
           .menu #hamberg ~ button{
                display: none;
                margin:10px 0px;
            }
            
           .menu #hamberg:checked ~ button{
                display:block;
            }
           .menu #hamberg + label{
                display:block;   
            }
            .menu #hamberg ~ i{
                display: none;
            }
        }

/*=============================== 갤러리 스타일 =================================*/

        .gallary{
            display: flex;
            flex-wrap: wrap;
        }
        
        .gallary > .image{
/*            width:33.3333%;*/
            width:30%;
            flex-grow:1;
            max-height:400px;
            
            padding:10px;
            
/*            넘어가는 항목은 보여주지 않겠다*/
            overflow: hidden;
            
            opacity: 0.7;
        }
        
        .gallary > .image:hover{
            opacity: 1;
        }
        
        .gallary > .image > img{
            width:100%;
            height: 300px;
        }
        
        /* 2단 변경 설정 */
        @media screen and (max-width:960px){
            .gallary > .image{
                width:45%;
            }
        }
        
        /* 1단 변경 설정 */
        @media screen and (max-width:570px){
            .gallary > .image{
                width:100%;
            }
            .gallary > .image > img{
                height: auto;
            }
        }

/*=================================== 레이아웃 스타일 ===================================*/
main{
    display: flex;
    flex-wrap: wrap;
}

header{
    width:100%;
}

nav{
    width:100%;
}

aside{
    width:150px;
    min-height:500px;
    padding: 20px;
}

section{
    flex-grow: 1;
    min-height:500px;
    padding: 20px;
}

footer{
    width:100%;
    min-height:50px;
    padding: 20px;
}

@media screen and (max-width:1200px){
    /* aside를 숨기고 section을 100%로 표시 */
    aside{
        display: none;
    }
    section{
        width:100%;
    }
}


/*======================= 각종 이미지가 첨부된 입력창들(좌측 이미지) ========================*/



















