@charset "UTF-8";
/* effect 5 */
.hover5 {
	display: inline-block;
	position: relative;
}

.hover5:before {
	content: '' attr(data-hover-label) '';
	position: absolute;
	top: 0;
	transform: rotateX(90deg);
	transition: transform .1s linear;
}

.hover5:hover:before, .hover5:focus:before {
	transition-delay: .2s;
	transform: rotateX(0deg);
}

.hover5:hover .hover5__label, .hover5:focus .hover5__label {
	transform: rotateX(90deg);
	transition-delay: 0s
}

.hover5__label {
	display: inline-block;
	transform: rotateX(0);
	transition: transform .1s linear .2s;
	margin: 12px;
}
.hover5__label:after{
	color: #765b20;
}

.hover5:focus {
	outline: none;
}


.hover5:before {
	color: #18917b;
}


body {
	font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Roboto",
		"Open Sans", "Helvetica Neue", "Segoe UI", "Arial", sans-serif;
	font-size: 1.6rem;
	color: #222;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
}

a {
	text-decoration: none;
	color: #18917b;
}

.section {
	box-sizing: border-box;
	position: relative;
	padding: 2rem;
	text-align: center;
	background-color: #ffffff;
}

.section:nth-child(2n+2) {
	background-color: #d5c093;
}

.title {
	font-size: 1.4rem;
	text-transform: uppercase;
	margin: 0;
	background-color: #fff;
	padding: .5rem 1.5rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

/*
* menu
*/
.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__item {
	display: inline-block;
	margin-left: 3%;
	margin-right: 2%;
}

.menu__link {
	font-size: 1.8rem;
	font-weight: 700;
	color: #27c4a7;
	text-decoration: none;
	text-transform: uppercase;
}

@media screen and (min-width: 2000px) {
	.main-container {
		display: flex;
		flex-wrap: wrap;
	}
	.section {
		width: 33.33333%;
	}
}

@media screen and (max-width: 300px) {
	.menu {
		flex-direction: column;
		/*   } */
	}
	
	.header_size {
		height: 100px;
	}
	